/*
	Author:      Ethan Gardner
	Due_Date:    11/25/2019
	Assignment:  Final
	File:        print.css
*/

/* Structurial Styles */
body {
	font-family: 'Public Sans', sans-serif;
	margin: 50px 0px 50px 0px;
	background-color: #233142;
	box-sizing: border-box;
	color: #455d7a;
}
.container {
	width: 90%;		
	margin: auto;
	max-width: 2000px;
	background-color: #e3e3e3; 
}
.clearfix:after  {
	content: "";
	display: block;
	clear: both;
}

/*Header Styles*/
header { 
	background-color: #455d7a;
}
header h1 {
	padding:90px 55px 0px 35px ;    
	margin-bottom:0px ;
	font-size:2.8em ;
	color: white;
	text-align: center;
}
header h3 {
	padding: 40px 55px 100px 35px ; 
	margin-bottom: 0px;
	font-size: 1.5em;
	color: white;
	text-align: center;
}

/*Navigation Styles*/
.navbar  {
	overflow: hidden;
	background-color: #fa4949;
	
}
.left a {
	float: left;
	padding: 15px 30px;
	text-decoration: none;
	color: white;
}
.center ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.center {
	border: none;
    list-style:none;
    margin:0;
    padding:0;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center ul li {
	display:inline;
}
.center ul li a {
    display:inline-block;
	padding: 15px 30px;
	text-decoration: none;
	color: white;
}
.dropdown {
	float: right;
	overflow: hidden;
}
.dropdown .dropbtn {
	cursor: pointer;
	font-size: 1em;
	border: none;
	outline: none;
	color: white;
	padding: 15px 40px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   background-color: #f86a6a;  
}
.dropdown-content, #navbarBurger{
	display: none;
	position: absolute; 
	background-color:lightgrey;		
	min-width: 200px;		
	box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2) ; 		
	z-index: 1;		
}
.dropdown-content a, #navbarBurger a {
	float: none;
	color: black;    	
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover, #navbarBurger a:hover {
	background-color: white ; 		
}
.show {
	display: block;
}
#navbarBurger, .navbarBurger {
	display: none;
}













/*Footer Styles*/
footer {
	text-align: center;
	color:  lightgrey;
}
footer p {
	padding-top: 15px;
}
footer a {
	text-decoration: none;
	color: lightgrey;
}
/*Responsive Styles: Big-Small */
@media screen and (max-width: 850px) {
	header h1  {
		font-size: 1.8em;    
	}
	.dropdown .dropbtn {
		padding: 15px 3px;
	}
	.navbar a {
		padding: 15px 3px;
	}
}
@media screen and (max-width: 580px) {
	header {
		padding: 5px;
	}
	header h1 {
		font-size: 1.5em;
	}
	/* Dropdown Button */
	.dropbtn {
		background-color: #8eb716;			
		color: white  ;  				
		padding: 16px ; 				
		font-size: 16px;  			
		border:  1px black solid;  			
		cursor: pointer;
		margin: auto;
		border-radius: 5px;
	}
	/* Dropdown Button on Hover and Focus */
	.dropbtn:hover, .dropbtn:focus {
		background-color:  white; 			
	}
	#navbarBurger {
		padding: 10px; 				
		margin: 10px; 				
		overflow: hidden;
	}
	#navbarBurger a {
		padding: 5px;
	}
	.navbar {
		display: none;
	}
	.showX, .navbarBurger {
		display: block !important;
	}
}